<!DOCTYPE html>
<html ng-app="app" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <style>
      .angular-google-map-container {
          width: 100%;
          height: 504px;
      }
    </style>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script type="text/javascript" src="js/app.js"></script>    
    <script type="text/javascript" src="js/controllers/loginCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/artesaoCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/cadastroCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/artesanatoCtrl.js"></script>

    <script type="text/javascript" src="js/module/angular-local-storage.min.js"></script>

    <link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->


    <script>



    </script>
  </head>
  <body  animation="slide-left-right-ios7">
  <div>
    <div>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </div>
</div>

<!-- Para: Thercio:

    Pagina de login page2.html
    Pagina de Cadastro page3.html
    Pagina de inicial page4.html
	Pagina de cadastrar artesanato page5.html
	Pagina de editar artesao page4.html

-->
<script id="page2.html" type="text/ng-template">
<ion-view title="Login">
    <ion-content padding="true" class="has-header">
        <form name="loginForm" ng-submit="logar(login)">
            <ion-list>
                <label class="item item-input" name="email">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Insira seu email" ng-model="login.email" ng-required="true">
                </label>
                <label class="item item-input" name="senha">
                    <span class="input-label">Senha</span>
                    <input type="password" placeholder="Insira sua senha" ng-model="login.senha" ng-required="true">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button type="submit" class="button button-positive button-block "  ng-disable="loginForm.$invalid">Entrar</button>
        </form>

		<button class="button button-positive button-clear button-block button-small">Esqueci minha senha</button>
		<div class="spacer" style="width: 300px; height: 95px;"></div>
		<a href="#/cadastro" class="button button-balanced button-clear button-block  icon ion-android-add-contact">Cadastre-se</a>
			
		</ion-content>
	</ion-view>
</script>
<script id="page3.html" type="text/ng-template">
<ion-view title="Cadastro">
    <ion-content padding="true" class="has-header">
        <form style="" ng-submit="addArtesao(artesao)" name="cadastroForm" novalidate>
            <label class="item item-input item-stacked-label" name="nome">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="Digite seu nome" ng-model="artesao.nome" name="nome">
            </label>
		<div class="form-group" ng-class="{ 'has-error' : cadastroForm.email.$invalid && !cadastroForm.email.$pristine }">
            <label class="item item-input item-stacked-label" name="email">
                <span class="input-label">Email</span>
                <input type="email" placeholder="Digite seu email" ng-model="artesao.email" name="email" class="form-control" ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/">
            </label>
		</div>
            <label class="item item-input item-stacked-label" name="endereco">
                <span class="input-label">Endereço</span>
                <input type="text" placeholder="Rua, cidade, bairro e número" ng-model="artesao.endereco">
            </label>
            <label class="item item-input item-stacked-label" name="tel">
                <span class="input-label">Telefone</span>
                <input type="tel" placeholder="Telefone/Celular" ng-model="artesao.tel">
            </label>
		<div class="form-group" ng-class="{ 'has-error' : cadastroForm.senha.$invalid && cadastroForm.senha.$pristine }">
            <label class="item item-input item-stacked-label" name="senha">
                <span class="input-label">Senha</span>
                <input type="password" 
					   placeholder="Digite sua senha" 
					   ng-model="artesao.senha"
					   name="senha" 
					   class="form-control"
					   ng-minlength="5"
					   ng-maxlength="8"
					   >
				<p ng-show="cadastroForm.senha.$error.minlength"
				   class="help-block">
					  Senha muito Curta!
				</p>
				<p ng-show="cadastroForm.senha.$error.maxlength"
				   class="help-block">
				      Senha muito cumprida!
				</p>
            </label>
            <label class="item item-input item-stacked-label" name="confsenha">
                <span class="input-label">Confirmar</span>
                <input type="password" placeholder="Confirme sua senha" ng-model="artesao.confsenha">
            </label>
            <button type="submit" class="button button-balanced button-block  icon-right ion-android-checkmark" ng-disabled="!artesao.nome || !artesao.senha || !artesao.email">Cadastrar</button>
            <a href="#/login" class="button button-assertive button-block  icon-right ion-android-close">Cancelar</a>
            
        </form>
    </ion-content>
	
</ion-view></script>
<script id="page4.html" type="text/ng-template">
<ion-view title="Página Inicial">
    <span ng-init="carregardados()"></span>
    <ion-content padding="true" class="has-header">
        <div>
            <div class="item item-avatar">
                <img src="">
                <button style="float: right;" class="button button-small icon ion-gear-a"></button>
                <h2>{{artesao.nome}}</h2>
            </div>
            <div style="height: 20px;" class="spacer"></div>
            <div class="item item-avatar">
                <img src="">
                <h3>Nome do Artesanato</h3>
                <button style="float: right;" class="button button-small button-assertive icon ion-trash-a"></button>
                <button style="float: right;" class="button button-small button-calm icon ion-edit"></button>

            </div>
            <div class="item item-avatar">
                <img src="">
                <button style="float: right;" class="button button-small button-assertive icon ion-trash-a"></button>
                <button style="float: right;" class="button button-small button-calm icon ion-edit"></button>
                <h3>Nome do Artesanato</h3>
            </div>
            <a href="#/cadastrarartesanato"  class="button button-block button-balanced">

                Cadastrar novo artesanato
                <i class="icon ion-plus-round" style="float: right;"></i>
            </a>
        </div>
    </ion-content>
</ion-view></script>

<script id="page5.html" type="text/ng-template">
	<ion-view title="Cadastrar Artesanato">
		<ion-content padding="true" class="has-header">
    		<form name="formArtesnato" ng-submit="addArtesanato(artesanato)">
                 <label class="item item-input item-stacked-label" name="nome">
                    <span class="input-label">Nome</span>
                    <input type="text"  placeholder="Caçarola de madeira" ng-model="artesanato.nome">
                </label>

                <div class="item-stacked-label">

                  <label class="item item-input item-select" name="categoria">
                    <div  class="input-label">
                      Categoria
                    </div>
                    <select ng-model="artesanato.categoria">
                      <option value="Madeira">Madeira</option>
                      <option value="Porcelana">Porcelana</option>
                      <option value="Metal">Metal</option>
                    </select>
                  </label>

                </div>
                                                  
                <label class="item item-input item-stacked-label" name="loja">
                    <span class="input-label">Loja(Opcional)</span>
                    <input type="text" placeholder="Artesões S.A." ng-model="artesanato.loja">
                </label>
                <label class="item item-input item-stacked-label" name="preco">
                     <span class="input-label">Preço(Opcional)</span>
                    <input type="text" placeholder="R$ 40,00" ng-model="artesanato.preco">
                </label>
                <label class="item item-input item-stacked-label" name="descricao">
                    <span class="input-label">Descrição</span>
                    <input type="text" placeholder="Artesões S.A." ng-model="artesanato.descricao">
                </label>
                <div class="item item-body">
                    <img class="full-image img-size"src="img/ionic.png">
                  </div>
                <div class="button-bar">
                    <button class="button button-medium icon ion-camera"></button>
                    <button class="button button-medium icon ion-images"></button>
                </div>
                </div>
        		
               
    			
    			<button type="submit" class="button button-full button-balanced icon ion-checkmark-round">Cadastrar</button>
            </form>
		</ion-content>
	</ion-view>
</script>
<script id="page6.html" type="text/ng-template">
	<ion-view title="Editar artesão">
		<ion-content padding="true" class="has-header">
			<form style="" ng-submit="addArtesao(artesao)" name="cadastroForm" novalidate>
            <label class="item item-input item-stacked-label" name="nome">
                <span class="input-label">Nome</span>
                <input type="text" 
					   placeholder="Digite seu nome" 
					   ng-model="artesao.name"
					   name="name"
					   >
            </label>
		<div class="form-group" ng-class="{ 'has-error' : cadastroForm.email.$invalid && !cadastroForm.email.$pristine }">
            <label class="item item-input item-stacked-label" name="email">
                <span class="input-label">Email</span>
                <input type="email"
					   placeholder="Digite seu email" 
					   ng-model="artesao.email"
					   name="email"
					   class="form-control"
					   ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/"
					   >
            </label>
		</div>
            <label class="item item-input item-stacked-label" name="endereco">
                <span class="input-label">Endereço</span>
                <input type="text" placeholder="Rua, cidade, bairro e número" ng-model="artesao.endereco">
            </label>
            <label class="item item-input item-stacked-label" name="tel">
                <span class="input-label">Telefone</span>
                <input type="tel" placeholder="Telefone/Celular" ng-model="artesao.tel">
            </label>
		<div class="form-group" ng-class="{ 'has-error' : cadastroForm.senha.$invalid && cadastroForm.senha.$pristine }">
            <label class="item item-input item-stacked-label" name="senha">
                <span class="input-label">Senha</span>
                <input type="password" 
					   placeholder="Digite sua senha" 
					   ng-model="artesao.senha"
					   name="senha" 
					   class="form-control"
					   ng-minlength="5"
					   ng-maxlength="8"
					   >
				<p ng-show="cadastroForm.senha.$error.minlength" class="help-block"> Senha muito Curta!</p>
				<p ng-show="cadastroForm.senha.$error.maxlength"
				   class="help-block">
				      Senha muito cumprida!
				</p>
            </label>
            <label class="item item-input item-stacked-label" name="confsenha">
                <span class="input-label">Confirmar</span>
                <input type="password" placeholder="Confirme sua senha" ng-model="artesao.confsenha">
            </label>
			<div class="item item-body">
				<img class="full-image img-size"src="img/ionic.png" style="">
			</div>
			<div class="button-bar">
				<button class="button button-medium icon ion-camera"></button>
				<button class="button button-medium icon ion-images"></button>
			</div>
			<button class="button button-full button-balanced icon ion-checkmark-round">
				Alterar
			</button>
		</ion-content>
	</ion-view>
</script>
<ion-footer-bar class="bar-dark">
		<div class="title">©Desenvolvido por Ratos SI</div>
	  </ion-footer-bar>
  </body>
</html>