<!DOCTYPE html>
<html ng-app="app" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <style>
      .angular-google-map-container {
          width: 100%;
          height: 504px;
      }
    </style>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script type="text/javascript" src="js/app.js"></script>    
    <script type="text/javascript" src="js/controllers/loginCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/artesaoCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/cadastroCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/artesanatoCtrl.js"></script>
    <script type="text/javascript" src="js/value/ConfigValue.js"></script>
    <script type="text/javascript" src="js/service/CadastroApiService.js"></script>
    <script type="text/javascript" src="js/service/LoginApiService.js"></script>
    <script type="text/javascript" src="js/service/ArtesanatoApiService.js"></script>

    <script type="text/javascript" src="js/module/angular-local-storage.min.js"></script>
    <script type="text/javascript" src="js/ng-cordova.min.js"></script>

    <link href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->


    <script>



    </script>
  </head>
  <body  animation="slide-left-right-ios7">
  <div>
    <div>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
    </div>
</div>

<!-- Para: CONTROLE DOS DESENVOLVEDORES:

    Pagina de login page2.html
    Pagina de Cadastro page3.html
    Pagina de inicial page4.html
	Pagina de cadastrar artesanato page5.html
	Pagina de editar artesao page6.html
	Pagina de editar artesanato page7.html
-->
<!-----------------------------AQUI FICARÁ A PÁGINA DE CADASTRO DO ARTESÃO -------------------------->
	<script id="index.html" type="text/ng-template">
		<ion-view title="Login">
			<ion-content padding="true" class="has-header">
				<form name="loginForm" ng-submit="logar(login)">
					<ion-list>
						<label class="item item-input" name="email">
							<span class="input-label">Email</span>
							<input type="email" placeholder="Insira seu email" ng-model="login.email" ng-required="true">
						</label>
						<label class="item item-input" name="senha">
							<span class="input-label">Senha</span>
							<input type="password" placeholder="Insira sua senha" ng-model="login.senha" ng-required="true">
						</label>
					</ion-list>
					<div class="spacer" style="height: 40px;"></div>
					<button type="submit" class="button button-positive button-block " ng-disable="loginForm.$invalid">Entrar</button>
				</form>

				<button class="button button-positive button-clear button-block button-small">Esqueci minha senha</button>
				<div class="spacer" style="width: 300px; height: 95px;"></div>
				<a href="#/cadastro" class="button button-balanced button-clear button-block  icon ion-android-add-contact">Cadastre-se</a>
					
			</ion-content>
		</ion-view>
	</script>
<!-----------------------------AQUI FICARÁ A PÁGINA DE CADASTRAR O ARTESÃO -------------------------->
	

	<ion-footer-bar class="bar-dark">
		<div class="title">©Desenvolvido por Ratos SI</div>
	  </ion-footer-bar>
  </body>
</html>