/*Aqui ficará o meu CSS*/
#corpo{
	background-image: url('../img/fundo.jpg');
}

#posicaomenu{
	width: 100%;
	top: 0px;
	position: fixed;
}

#cormenucima{
	background-color: #ea641a;
}

#cormenucima1{
	background-color: #ea641a;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

#cormenucima1:hover{
	background-color: #cb581e;
    
}

#fundorespon{
    background: #ea641a;
}
#caixanome{
    
    background-color: #cb581e;
    padding: 10px;
    border-radius: 5px;
    
}

#conteudo{
	min-height:85.5%;
	position:relative;
}

#estilofundobordacima{
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 15px 15px 0 0;
}

#estilofundo{
    border: 1px solid #999;
    background-color: #eee;
}
                
#estilofundobordabaixo{
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 0 0 15px 15px;
}

#corport{
	color: #000;
	-webkit-transition:	all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}


#corport:hover{
	color: #FFF;
}

#caixatextopesquisa{
	border-radius: 20px 0 0 20px;
}

#butao{
	border-radius: 0 20px 20px 0; 
	background: #008CBA; 
}
#butao:hover{
	background: #007095;
}

#posicao{
	position: relative; 
	top: 3.1%; 
	width: 100%;
	background-color: #005d9b;
}
#fontsizefootergrande{
	font-size: 100%;
	
}
#corfooterpeq{
    background-color: #005d9b;
}
#fontsizefooter{
	font-size: 70%;
    
}

#borda{
	border: 2px solid #999;
	height: auto;
	border-radius: 10px;
	
}

#bordapeq{
	border: 2px solid #999;
	height: auto;
	border-radius: 10px;	
}
.colororo{
	background-color: #008CBA;
}

.nomeproduto{
	margin: 2%;
	margin-left: 25%;
	margin-right: 20%;
	font-family: sans serif;
	font-size: 16px;
	color: #FF0033;
	
}

.nomeautor{
	margin: 2%;
	margin-left: 25%;
	margin-right: 20%;
	font-family: sans serif;
	font-size: 16px;
	color: #008CBA;
}

.nomeprodutopeq{
	margin: 2%;
	font-family: sans serif;
	font-size: 70%;
	color: #FF0033;
	
}

.nomeautorpeq{
	margin: 2%;
	
	font-family: sans serif;
	font-size: 70%;
	color: #008CBA;
	
}