<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Cadastre-se</title>

    <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="../lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="../cordova.js"></script>

    <!-- your app's js -->
    <script src="../js/app.js"></script>
  </head>
  <body ng-app="starter">
	<ion-pane>
	  <ion-header-bar class="bar-positive">
	  <a class="button icon-left ion-chevron-left button-clear" href="../index.html"></a>
		<h1 class="title">Portfólio</h1>
		</ion-header-bar>
	  <ion-content>
		<div class="list">
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Nome</span>
			<input type="text" placeholder="Nome">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">CPF</span>
			<input type="text" placeholder="CPF">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Endereço</span>
			<input type="password" placeholder="Endereço">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Cidade</span>
			<input type="password" placeholder="Cidade">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Telefone</span>
			<input type="password" placeholder="Telefone">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Senha</span>
			<input type="password" placeholder="Senha">
		  </label>
		  <label class="item item-input item-stacked-label">
			<span class="input-label">Confirmar Senha</span>
			<input type="password" placeholder="Confirmar Senha">
		  </label>
		</div>
		<button class="button button-full button-balanced icon ion-checkmark-round">
			Cadastrar
		</button>
		
	  </ion-content>
	  <ion-footer-bar class="bar-dark">
		<div class="title">©Desenvolvido por Ratos SI</div>
	  </ion-footer-bar>
	</ion-pane>
	</body>
</html>