
	<span ng-init="listAll()"></span>

	<!-- Menu normal-->
	<nav id="cormenucima" class="top-bar hide-for-small" data-topbar>
		<ul class="title-area">
			<li class="name">
				<h1>
					<a href="#/" id="corport" >
						<span><strong>Portfólio para artesãos</strong></span>
					</a>
				</h1>
			</li>
		</ul>
		  
		<section class="top-bar-section">
			<ul class="right">
				<li class="divider"></li>
				<li id="cormenucima" class="has-form">			
					<div class="row collapse">
						<div class="large-8 small-9 columns"> 	
							<input type="text" placeholder="Buscar" id="caixatextopesquisa"></input>
						</div>
						
						<div class="large-4 small-3 columns">
							<a id="butao" class="alert button expand" href="#">Buscar</a>
						</div>
					</div>				
				</li>
				<li class="divider"></li>
				<li><a id="cormenucima1" href="#/"><span>Início</span></a></li>
				<li class="divider"></li>
				<li><a id="cormenucima1" href="#/explorar"><span id="caixanome">Explorar</span></a></li>
				
			</ul>
		</section>
		

	</nav>
	
	
	<!--Menu responsivo-->
	<div class="off-canvas-wrap show-for-small" data-offcanvas>
		<div class="inner-wrap">
			<nav id="cormenucima" class="tab-bar">
				<div class="left-small">
					<a href="#idOfLeftMenu" role="button" aria-controls="idOfLeftMenu" aria-expanded="true" class="left-off-canvas-toggle menu-icon" ><span></span></a>
				</div>
				
				<div class="right-small">
					<a href="#idOfRightMenu" role="button" aria-controls="idOfRightMenu" aria-expanded="true" class="right-off-canvas-toggle menu-icon" ><span></span></a>
				</div>
			</nav>
			<aside id="fundorespon" class="left-off-canvas-menu">
				<!-- whatever you want goes here -->
				<ul class="off-canvas-list">
					<li><label>Portfólio</label></li>
                    <li><a id="cormenucima1" href="#/">Início</a></li>
					<li><a id="cormenucima1" href="#/explorar"><span id="caixanome">Explorar</span></a></li>
				</ul>
			</aside>
			<aside id="fundorespon" class="right-off-canvas-menu">
				<!-- whatever you want goes here -->
				<ul class="off-canvas-list">
					<li><label>Pesquisar por</label></li>
					<li><a id="cormenucima1" href="artesao.html">Artesãos</a></li>
					<li><label>Artesanatos</label></li>
					<li><a id="cormenucima1" href="#">Barro</a></li>
					<li><a id="cormenucima1" href="#">Biscuit</a></li>
					<li><a id="cormenucima1" href="#">Bordado</a></li>
					<li><a id="cormenucima1" href="#">Gesso</a></li>
					<li><a id="cormenucima1" href="#">Madeira</a></li>
					<li><a id="cormenucima1" href="#">Metal</a></li>
					<li><a id="cormenucima1" href="#">Porcelana</a></li>
					<li><a id="cormenucima1" href="#">Outros</a></li>
				</ul>
			</aside>
			<section class="main-section">
				<section id="conteudo" class="show-for-small">
					<br>
				  <div class="row">             
					<div class="large-9 push-3 columns panel radius" id="bordapeq">
							
						<ul class="small-block-grid-3" ng-repeat="artesao in artesoes">
							<li>
								<img src="{{imgUrl+artesanato.fotoArtesanato}}" style="border-radius: 25px;">

								<label class="nomeprodutopeq">{{artesanato.nome}}</label>
								<label class="nomeautorpeq">{{artesao.nome}}</label>
								

							</li>
						</ul>
						
						<div class="pagination-centered">
						  <ul class="pagination">
							<li class="arrow unavailable"><a href="">&laquo;</a></li>
							<li class="current"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li class="unavailable"><a href="">&hellip;</a></li>
							<li><a href="">8</a></li>
							<li class="arrow"><a href="">&raquo;</a></li>
						  </ul>
						</div>
					</div>
					
				  </div>
				  
				</section>
				<footer id="corfooterpeq" class="tab-bar show-for-small">
					<div id="fontsizefooter"  class="tab-bar-section">© Copyright Ratos SI. Todos os direitos reservados!</div>
				</footer>
			</section>
			
			<a class="exit-of-canvas"></a>
			
		</div>
	</div>
	
	
	<!--FIM Menu responsivo--><!--FIM Menu responsivo--><!--FIM Menu responsivo--><!--FIM Menu responsivo-->
	
	<!--só para dividir-->
	<section id="conteudo" class="hide-for-small">
		<br>
		<div class="row">             
		
			<div class="large-3 columns hide-for-small">
			<form ng-submit="buscafiltro(categoria)">
			  <ul class="side-nav">
				<div class="large-12 columns panel" style="padding: 0; margin: 0; border: 2px solid #999; border-radius: 10px; border-bottom: none;">
					<fieldset style="border: 2px solid #999; background-color: #F2F2F2; border-left: none; border-right: none; border-bottom: none;"><legend style="background-color: #F2F2F2">Listar</legend>
						<li><div class="switch radius">
							  <input ng-model="categoria" id="exampleRadioSwitch1" type="radio" value="artesao" name="lista">
							  <label for="exampleRadioSwitch1"></label>
							  <span id="letraspan">Artesãos</span>
							</div>
						</li>
					</fieldset>
					<fieldset style="border: 2px solid #999; background-color: #F2F2F2; border-left: none; border-right: none; border-radius: 0 0 6px 6px;"><legend style="background-color: #F2F2F2">Artesanatos de</legend>
						<li><div class="switch radius">
							  <input ng-model="categoria" id="exampleRadioSwitch3" type="radio" value="Barro" name="lista">
							  <label for="exampleRadioSwitch3"></label>
							  <span id="letraspan">Barro</span>
							</a>
							</div>
							
						</li>
						<li><div class="switch radius">
							  <input ng-model="categoria" id="exampleRadioSwitch4" type="radio" value="Biscuit" name="lista">
							  <label for="exampleRadioSwitch4"></label>
							  <span id="letraspan">Biscuit</span>
							</div>
						</li>
						<li><div class="switch radius">
							  <input ng-model="categoria" id="exampleRadioSwitch5" type="radio" value="Bordado" name="lista">
							  <label for="exampleRadioSwitch5"></label>
							  <span id="letraspan">Bordado</span>
							</div>
						</li>
						<li><div class="switch radius">
							  <input ng-model="categoria" id="exampleRadioSwitch6" type="radio" value="gesso" name="lista">
							  <label for="exampleRadioSwitch6"></label>
							  <span id="letraspan">Gesso</span>
							</div>
						</li>
						<li><div class="switch radius">
							  <input ng-model="categoria" id="exampleRadioSwitch7" type="radio" value="madeira" name="lista">
							  <label for="exampleRadioSwitch7"></label>
							  <span id="letraspan">Madeira</span>
							</div>
						</li>
						<li><div class="switch radius">
							  <input ng-model="categoria" id="exampleRadioSwitch8" type="radio" value="metal" name="lista">
							  <label for="exampleRadioSwitch8"></label>
							  <span id="letraspan">Metal</span>
							</div>
						</li>
						<li><div class="switch radius">
							  <input ng-model="categoria" id="exampleRadioSwitch9" type="radio" value="porcelana" name="lista">
							  <label for="exampleRadioSwitch9"></label>
							  <span id="letraspan">Porcelana</span>
							</div>
						</li>
						<li><div class="switch radius">
							  <input ng-model="categoria" id="exampleRadioSwitch10" type="radio" value="outros" name="lista">
							  <label for="exampleRadioSwitch10"></label>
							  <span id="letraspan">Outros</span>
							</div>
						</li>
						<button type="submit">Filtar</button>
					</fieldset>
				</div>
			  </ul>
				</form>
			</div>
		
			<div class="large-9 columns panel radius" id="borda">
					
				<ul class="small-block-grid-3" ng-repeat="artesanato in artesanatos">
							<li>
							
								<a ng-click="carregarArtesanato(artesanato)">
									<img src="{{imgUrl+artesanato.fotoArtesanato}}" style="border-radius: 25px;"><br>
									
									<label class="nomeproduto">{{artesanato.nome}}</label>
								</a>
							
							</li>
				</ul>
				
				<div class="pagination-centered">
				  <ul class="pagination">
					<li class="arrow unavailable"><a href="">&laquo;</a></li>
					<li class="current"><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li class="unavailable"><a href="">&hellip;</a></li>
					<li><a href="">7</a></li>
					<li><a href="">8</a></li>
					<li class="arrow"><a href="">&raquo;</a></li>
				  </ul>
				</div>
			</div>
			
			
		</div>
	  
	</section>
	<footer class="tab-bar hide-for-small" id="posicao">
		
		<div id="fontsizefootergrande" class="left tab-bar-section">© Copyright Ratos SI. Todos os direitos reservados!</div>
	</footer>
	  
		<script src="js/vendor/jquery.js"></script>
		<script src="js/foundation/foundation.js"></script>
		<script src="js/foundation/foundation.clearing.js"></script>
		<script src="js/foundation/foundation.offcanvas.js"></script>
		  <!-- Other JS plugins can be included here -->

		<script>
			$(document).foundation();
		</script>
	</div>